.chat-window {
  width: 100%;
}

.chat-window__messages {
  height: 80%;
  overflow-y: auto;
}

.chat-window__input {
  background: white;
  width: 90%;
  border-radius: 10;
  padding: 20px 25px;
  margin: 0 auto;
  display: flex;
  box-shadow:  0 0 10px rgba(0,0,0,0.2);
}
