.nav-wrapper {
  background: none;
}
.nav-wrapper .ant-layout-sider-children {
  padding: 20px 0;
  text-align: center;
  background: #779dfe;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.nav__item {
  color: white
}
.ant-menu-item-active .nav__item {
  color: red;
}